.allofit{
  background-color:white;
  color:black;
  text-align: center;
}
.titles{
  text-decoration: underline;
  }
.paragraph{
  font-family: "Times New Roman", Times, serif;
}
.lists{
  text-decoration:underline;
  font-family:fantasy;
}
.sources{
  font-family:cursive;
}